<div class="col-12 text-center">
  <h1>Welcome to Events </h1>
</div>
<div class="All">
<mat-card class="example-card">
  <mat-card-header>
    
    <mat-card-title>Virtual nursing day</mat-card-title>
    <mat-card-subtitle>Day : 17 January 2022</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/Nursing_students.jpg" alt="Photo ">
  <mat-card-content>
    <p>
      On January 17th, the students of the seventh semester of dual nursing will organize the virtual nursing day. The motto of the event is "Tradition meets modernity - sexuality & green care in care".

You can register until January 13 via <a href="pflegefachtag@th-deg.de">pflegefachtag@th-deg.de</a> .
    </p>
  </mat-card-content>
</mat-card>

</div>

<div class="All">
  <mat-card class="example-card mt-4" >
    <mat-card-header>
      
      <mat-card-title>Virtual event for the nursing B.Sc.</mat-card-title>
      <mat-card-subtitle>Day : 19 January 2022</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/virtual.jpg" alt="BSC image">
    <mat-card-content>
      <p>
        In this online event, all information about the degree program Nursing B. Sc. presented .

        <b>Contact:</b>

Johanna Aschenbrenner
      </p>
    </mat-card-content>
  </mat-card>
  
  </div>

  
<div class="All">
  <mat-card class="example-card mt-4" >
    <mat-card-header>
      
      <mat-card-title>"Students: inside talk" online seminar</mat-card-title>
      <mat-card-subtitle>Day : 25 January 2022</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/online.jpg" alt="Photo ">
    <mat-card-content>
      <p>
        The application phase for the 2022 winter semester begins on April 15, 2022. The Central Student Advisory Service at Deggendorf University of Technology provides information on the topics of application, deadlines and admissions and offers general information on the courses at the university.

The online seminar "Students: Inside Talk" will take place on Wednesday, January 25 from 4 to 5 p.m.

All interested parties are invited, including parents and teachers who want to find out more about THD.

<b>Contact:</b>

zsb@th-deg.de
      </p>
    </mat-card-content>
  </mat-card>
  
  </div>