<div [formGroup]="messageForm" style="text-align:center">
  <h1>
    Welcome User with E-Mail {{userName}}!
  </h1>
  <p>
    <button mat-button color="warn" (click)="logout()">
      Logout
    </button>
  </p>
  <h1 *ngIf="msg.length > 0">Messages received:</h1>
  <textarea cols="50" rows="10">{{msg}}</textarea>
  <br><br>
  <mat-form-field id="mff1" appearance="outline">
    <mat-label>Type a message here and click on Send</mat-label>
    <input matInput type="text" [(ngModel)]="sendmsg" placeholder="message" formControlName="msginput">
    <button mat-button type="submit" color="warn" (click)="submit()">Send</button>
  </mat-form-field>
</div>
