<div class="col-12 text-center">
    <h1>Alumni.
        Information about our Alumni Network </h1>
  </div>
  <div class="All">
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>AlumniNet e.V.</mat-card-title>
  
    </mat-card-header>
    
    <mat-card-content>
      <p>
        AlumniNet is the official student and graduate association of the Deggendorf Institute of Technology.

The largest network of DIT students, graduates and the university are networked for professional as well as private exchange.

This network can be actively used at the many events of AlumniNet or in the Xing, LinkedIn or Facebook groups.

Every year AlumniNet sponsors German scholarships: Alumni support students!

AlumniNet members still have access to the Career Service's career exchange after their studies. As a brand new feature, members can now receive a newsletter directly on their smartphone (detailed information on the AlumniNet homepage).

Event information, seminar dates, photo gallery and everything you need to know can be found on the AlumniNet e.V. homepage.

Seminars
      </p>
    </mat-card-content>
  </mat-card>
<br>
  
  </div>
  <div class="col-12 text-center mt-2">
    <h1>Seminars </h1>
  </div>
  
  <div class="All">
    
    <mat-card class="example-card mt-2" >
      <mat-card-header>
        
        <mat-card-title>Seminars for (Young) Professionals.</mat-card-title>
        <mat-card-subtitle>Day : 19 January 2022</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Seminar.jpg" alt="BSC image">
      <mat-card-content>
        <p>
            Since 2008, DIT Alumni offers seminars especially for young professionals. These seminars, only for DIT graduates, are a direct continuation of the wide range of seminars offered by DIT's Career Service for students. The topics offer a mixture of professional and private competences.

            If you have any questions about the seminars, please contact us at alumninet@th-deg.de
            
            * Binding registration for the seminars by mail to alumninet@th-deg.de. By registering you agree to our seminar guidelines (Guidelines in German).
  
          <b>Contact:</b>
  
  Johanna Aschenbrenner
        </p>

        <mat-card-title>ONLINE SEMINARS</mat-card-title>

        <p>
            Since the beginning of 2019, we have also been offering online seminars in which participants can participate from the comfort of their own homes.

            If you have any questions about the seminars, please contact us at alumninet@th-deg.de
            
            * Binding registration for the seminars by mail to alumninet@th-deg.de. By registering you agree to our seminar guidelines (Guidelines in German). 
            
            17.02.2022: Seminar for (young) professionals: "Network Thinking & Mapping"
            The workshop "Network Thinking & Mapping" will take place virtually on Thursday, 17.02.2021 from 6 - 7.30 pm.
            
            The expert for organizational development and networks Dr. Julia Schönbrunn will give impulses about networking and the different network types in the 1.5-hour seminar. Find out which type you belong to. Network mapping will also be part of the seminar, which can be used to achieve personal goals and in the team. In addition, Dr. Schönbrunn will give tips on planning and implementing systematic network expansion - including hybrid networks.
            
            Registration is available at alumninet@th-deg.de. The seminar is free of charge for AlumniNet members. For non-members, the cost is 50.00 euros.
            
            By registering, you agree to our seminar guidelines, and you also confirm that you have read and accept the data protection information.
  
          <b>Contact:</b>
  
  Johanna Aschenbrenner
        </p>

      </mat-card-content>
    </mat-card>
    
    </div>
  
    <div class="col-12 text-center mt-2">
        <h1>Alumini </h1>
      </div>
  <div class="All">
    <mat-card class="example-card mt-2" >
      <mat-card-header>
        
        <mat-card-title>"Alumni Survey</mat-card-title>
        <mat-card-subtitle>Day : 25 January 2022</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Alumini.jpg" alt="Photo ">
      <mat-card-content>
        <p>
            The 2020/2021 graduate survey has been completed and evaluated (graduation year 2017). You can find the results in the tabs below.

            The 2021/2022 graduate survey started in December 2021 (graduation year 2018). As soon as the survey has been evaluated, the results will be published here.
            
            General questions about the graduate survey can be answered at ulrike.sauckel@th-deg.de. Specific questions on the evaluation/access to CEUS can be answered at tobias.preuss@th-deg.de.
  
  <b>Contact:</b>
  
  zsb@th-deg.de
        </p>
      </mat-card-content>
    </mat-card>
    
    </div>
    <div class="col-12 text-center mt-2">
        <h1>Alumni Talks</h1>
      </div>
    <div class="All">
        
        <mat-card class="example-card mt-2" >
          <mat-card-header>
            
            <mat-card-title>"NEW: Alumni Startup Talks"</mat-card-title>
            <mat-card-subtitle>Day : 25 January 2022</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://images.app.goo.gl/gcGu3DrqagsLBrK4A.jpg" alt="Photo ">
          <mat-card-content>
            <p>
                In our Alumni Talks series (also known as "The best jobs in the world"), DIT alumni who work in management positions and/or interesting companies report on their professional activities and how they got there. They provide insights into their everyday work and give students and young graduates tips for their professional future.

In the 45-minute presentation, the alumnus/alumna also briefly introduce their employer and discuss the skills that brought them there. In addition, our alumni then answer everything that moves the participants around the topic of career in a relaxed discussion group.

DIT-Alumni selects graduates for the graduates format who work in interesting and well-known companies or in special positions, and in doing so also addresses the students' wishes. The lectures are part of DIT-Alumni's offer for students, but we are also happy to welcome interested alumni. The participation is free of charge. Registrations are possible at alumni@th-deg.de.
      <b>Contact:</b>
      
      zsb@th-deg.de
            </p>
          </mat-card-content>
        </mat-card>
        
        </div>
    